# DBSCAN Clustering Implementation

## Advantages of DBSCAN

1. It is great at separating clusters of high density versus clusters of low density within a given dataset

2. It is great with handling outliers within the dataset

## Disadvantages of DBSCAN

1. Does not work well when dealing with clusters of varying densities.While DBSCAN is great at separting high density clusters from low density clusters, DBSCAN struggles with clusters of similar density.

2. Struggles with high dimensionality data. DBSCAN can only go so far, if given data with too many dimensions, DBSCAN siffers.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Mall_Customers.csv")

In [3]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
X=df.iloc[:,[3,4]].values

In [5]:
from sklearn.cluster import DBSCAN

dbscan=DBSCAN(eps=3,min_samples=4)

In [6]:
model=dbscan.fit(X)

labels=model.labels_

In [7]:
from sklearn import metrics

In [8]:
sample_cores=np.zeros_like(labels,dtype=bool)

sample_cores[dbscan.core_sample_indices_]=True

In [9]:
n_clusters=len(set(labels))-(1 if -1 in labels else 0)

In [10]:
print(metrics.silhouette_score(X,labels))

-0.1908319132560097